form {
    background-color: rgba(21, 34, 56, 0.8);
    border: 2px solid rgb(0, 234, 255);
    padding: 20px;
    border-radius: 15px;
    width: 250px;
  }
  
  form input[type="text"],
  form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-family: "Helvetica", sans-serif;
    font-size: 1em;
    color: rgb(4, 4, 4);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 234, 255);
    border-radius: 10px;
  }
  
  form input[type="submit"] {
    border: none;
    padding: 10px 20px;
    background-color: rgb(8, 66, 95);
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: rgb(5, 106, 157);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    justify-content: center;
  }
  
  #confirmed {
    font-family: "Helvetica", sans-serif;
    text-align: center;
    margin: 30px
  }