/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161617;    
    padding: 2.5px;
    margin-bottom: 5em;
    position: fixed;
    height: 125px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    align-items: flex-end;
    justify-content: space-between;
}

.site-title {
    font-family: "cursive", cursive, sans-serif;
    font-size: 3.5em;
    color: #00eaff;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: left;
    margin-left: 20px;    
}

.site-subtitle {
    font-family: "Papyrus", cursive, sans-serif;
    font-size: 4em;
    font-weight: bold;    
    margin-right: 0;
    padding: auto;
    text-align: left;
    margin-left: 20px;    
    margin-top: 100px;
    margin-bottom: 0px;
    font-weight: 100;
    color: rgb(249, 251, 237);
    text-shadow: rgb(0, 242, 255) 1px 0 10px;
    display: flex;
    justify-content: left;
}

nav ul {
    list-style-type: none;    
    justify-content: right;
    display: flex;
}

nav ul li {
    display: inline-flex;
    margin-right: 20px;
    text-align: right;
    font-size: 1.5em;    
}


nav a:hover {
    color: #00eaff;
}

nav ul li a {
    text-align: right;
    margin-right: 20px;    
    margin-top: 100px;
    margin-bottom: 0px;
    color: #fefefe;    
    font-weight: bold;
    font-family: "Papyrus", cursive, sans-serif;    
    font-size: 1.3em;    
    margin: 0;
    padding: 0;
    display: grid;
}

h1 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bolder;
    font-family: "cursive", cursive, sans-serif;
}

h2 {
    font-family: "Papyrus", cursive, sans-serif;
    font-size: 2.5em;
    color: #fcfcfc;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hero-quote {
    font-family: 'brush Script MT';
    font-weight: 100;
    color: rgb(249, 251, 237);
    text-shadow: rgb(255, 238, 0) 1px 0 10px;
    font-size: 2.8em;
    text-align: center;
    margin-top: auto;
}

.table  {
    min-height: 100vh;    
    box-shadow: 0 0 12px -2px black;
    font-family: Arial, "Papyrus", Helvetica, sans-serif;
    display: inline-grid;    
    text-align: center;   
    padding: 0;
    background-color: #161617;
    color: #00eaff;
    font-weight: bold;           
    margin-left: 400px;
    margin-right: 100px;       
    margin-top: 100px;
    margin-bottom: 100px;
    border: 5px solid #00eaff;    
}

.content {
    padding: 20px;
    text-align: center;
    color: #fdfdfd;
    font-family: 'Courier New', Courier, monospace;        
}

img {
    padding: 20px;
    text-align: center;
    color: rgb(0, 234, 255);
    margin-left: 50px;
    margin-right: 50px;    
}

footer {
    color: #00ff80;
    background-color: #000000;
    box-shadow: 0 -2px 4px -2px black;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 64px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    background-color: rgb(8, 66, 95);

}



/*
body {
    background-image: url("Images/night-sky-milky-way-galaxy_601658-108.jpeg");
    max-width: 960px;
    color: #f8f8f8;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: 0 auto;
    padding: 0;
    background-position: center;
    background-attachment: fixed;
}*/


/* Add more styles for your content and layout */


